.select {
  width: 320px;
  height: 686px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: #F5F8FF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.select-link {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 50%;
  background: #418DE8;
  display: flex;
  justify-content: center;
}
.select-link a {
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-link a i {
  font-size: 20px;
}
.select-title {
  width: 164px;
  height: 23px;
  margin-top: 30px;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #455273;
}
.select-button {
  width: 165px;
  height: 40px;
  margin-left: 77px;
  margin-top: 28px;
  background: #418DE8;
  border-radius: 20px;
  border: 0px solid #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.select-button:hover {
  background: rgba(65, 141, 232, 0.3);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
